.footer {
  background-color: $bg-footer-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.addresses {
  padding-top: 20px;
}

.addresses__item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.addresses__link {
  color: $text-contact-link-color;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.addresses__link--bold {
  color: $bg-color;
  transition: $transition-duration $timing-function;
}

.footer__addresses {
  width: calc(
    (1200px - var(--grid-column-features) * 30px) / var(--grid-column-features)
  );
}

.footer__subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $bg-color;
  margin-bottom: 20px;
}
