.form-order__field {
  position: relative;
  margin-right: 40px;
  margin-left: 40px;

  & + .form-order__field {
    margin-top: 10px;
  }
}

.form-order__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $text-second-color;
}

.form-order__input {
  width: 448px;
  height: 40px;
  padding-left: 36px;
  border-radius: 4px;
  border: 1px solid $border-input-color;
  @include transitions(border);

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $accent-color;
  }
}

.form-order__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  width: 18px;
  fill: $text-main-color;
  @include transitions(fill);

  .form-order__input:hover + &,
  .form-order__input:focus + & {
    fill: $accent-color;
  }
}

.form-order__comment {
  padding: 12px 16px;
  resize: none;
  height: 120px;
}

.form-order__comment::placeholder {
  color: $text-placeholder-color;
}

.form-order__text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-second-color;
}

.form-order__conditions {
  margin-left: 5px;
  color: $accent-color;
  text-decoration-line: underline;
}

.form-order__checkbox {
  /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding-top: 10px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-order__icon-check {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid $text-main-color;
  border-radius: 2px;
  @include transitions(border);

  .form-order__checkbox:checked + & {
    border-color: transparent;
    background-color: $accent-color;
    background-size: contain;
    background-origin: border-box;
  }
}

.form-order__submit {
  margin-top: 30px;
  margin-left: 165px;
  margin-right: 163px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
