.form-subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --grid-column: 2;
  width: calc((1200px - var(--grid-column) * 30px) / var(--grid-column));
}

.form-subscribe__mail {
  color: $bg-add-color;
  height: 50px;
  width: 358px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  border: 1px solid $border-subscribe-color;
  transition: border $transition-duration $timing-function;

  &:focus,
  &:hover {
    border-color: $accent-color;
    outline: none;
  }
}

.form-subscribe__button {
  display: flex;
  justify-content: center;
}

.form-subscribe__icon {
  width: 24px;
  fill: currentColor;
  margin-left: 10px;
}
