.footer {
  background-color: $bg-footer-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer__addresses {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    margin: 0;
    --grid-column-footer: 2;
    flex-basis: calc(
      (100% - var(--grid-column-footer) * 30px) / var(--grid-column-footer)
    );
  }
  @media screen and (min-width: 1200px) {
    --grid-column-footer: 4;
    text-align: left;
  }
}

.footer__social {
  @media screen and (min-width: 768px) {
    margin: 0;
    --grid-column-footer: 2;
    flex-basis: calc(
      (100% - var(--grid-column-footer) * 30px) / var(--grid-column-footer)
    );
  }
  @media screen and (min-width: 1200px) {
    --grid-column-footer: 4;
  }
}

.social-list--footer {
  @media screen and (min-width: 1200px) {
    justify-content: start;
  }
}

.footer__nav {
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px) / 2);
  }
}

.addresses {
  padding-top: 20px;
}

.addresses__item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.addresses__link {
  color: $text-contact-link-color;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.addresses__link--bold {
  color: $bg-color;
  transition: $transition-duration $timing-function;
}

.footer__subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $bg-color;
  margin-bottom: 20px;
  margin-top: 60px;

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    text-align: start;
  }
}

.footer__subtitle--social {
  @media screen and (min-width: 768px) {
    margin-top: 5px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 12px;
  }
}

.footer__form {
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px) / 2);
  }
}
