.header {
  border-bottom: 1px solid $border-header-color;
  position: relative;
}

.header__container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.header__menu {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    display: none;
    align-items: flex-start;

    &.is-open {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: space-between;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 8;
      padding-left: 40px;
      padding-top: 48px;
      padding-bottom: 48px;
      background-color: $bg-color;
    }
  }
}

.navigation__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 294px;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 95px;
  }
}

.navigation__link {
  display: block;
  font-size: 40px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $text-main-color;
  transition: color $transition-duration $timing-function;

  @media screen and (min-width: 768px) {
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation__item {
  @media screen and (max-width: 767px) {
    padding-bottom: 32px;
  }
}

.navigation__link--current {
  @media screen and (min-width: 768px) {
    color: $accent-color;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      bottom: 0;
      border-radius: 2px;
      background-color: $accent-color;
      transition: background-color $transition-duration $timing-function;
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  max-height: 186px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.contacts__item {
  display: flex;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    &:last-child {
      margin-top: 64px;
    }

    &:first-child {
      order: 2;
    }
    &:nth-child(2) {
      order: 1;
    }
    &:nth-child(3) {
      order: 3;
    }
  }

  @media screen and (min-width: 768px) {
    &:first-child {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:first-child {
      margin-right: 50px;
      margin-bottom: 0px;
    }
  }
}

.contacts__link.contacts__link--accent {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.18;
    color: $accent-color;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $text-second-color;
  transition: color $transition-duration $timing-function;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

%contacts__icon {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
    transition: fill $transition-duration $timing-function;
    vertical-align: middle;
  }
}

.contacts__icon--envelope {
  width: 16px;
  height: 12px;
  @extend %contacts__icon;
}

.contacts__icon--smartphone {
  width: 10px;
  height: 16px;
  @extend %contacts__icon;
}
