.hero {
  text-align: center;
  background-color: $bg-footer-color;
  background-image: linear-gradient(to top, $bg-hero-color, $bg-hero-color),
    url(../images/hero_mobile.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, $bg-hero-color, $bg-hero-color),
      url(../images/hero_mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to top, $bg-hero-color, $bg-hero-color),
      url(../images/hero_tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, $bg-hero-color, $bg-hero-color),
        url(../images/hero_tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to top, $bg-hero-color, $bg-hero-color),
      url(../images/hero_desktop.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, $bg-hero-color, $bg-hero-color),
        url(../images/hero_desktop@2x.jpg);
    }
  }
}

.hero-container {
  margin: auto;
  padding: 0;
  width: 100%;

  @media screen and (min-width: 360px) {
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $bg-color;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
