.logo {
  // padding-top: 24px;
  // padding-bottom: 25px;
  align-items: center;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $accent-color;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__text--dark {
  color: $text-main-color;
}

.logo__text--light {
  color: $bg-color;
}
