.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  fill: $border-icon-color;

  .social-list__link:focus &,
  .social-list__link:hover & {
    fill: $bg-color;
  }
}

.social-list__icon--footer {
  fill: $bg-color;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: $bg-color;
  border-radius: 50%;
  transition: background-color $transition-duration $timing-function,
    fill $transition-duration $timing-function;

  &:focus,
  &:hover {
    background-color: $accent-color;
  }
}

.social-list__link--footer {
  background-color: $bg-social-list-footer-color;
}
